# Clerk
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_***

# Backend API URL
EXPO_PUBLIC_API_URL=http://localhost:8787

# RevenueCat
EXPO_PUBLIC_RC_ENTITLEMENT_ID=pro
EXPO_PUBLIC_RC_API_KEY_IOS=appl_***
EXPO_PUBLIC_RC_API_KEY_ANDROID=goog_***
EXPO_PUBLIC_RC_WEB_API_KEY=rcb_***
